:root{
    --logo-color:#000000;
    --accent-color:#2196F3;
    --text-color:#212121;
    --additional-color:#757575;
    --title-color:#FFFFFF;
    --team-background-color:#F5F4FA;
    --footer-background-corol:#2F303A;
}

body{
    font-family: Roboto;
}

.header-logo{
    color: #2196F3;

font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 26.9px;
letter-spacing: 0.78px;
}

.header-span{
    color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 26.9px;
letter-spacing: 0.78px;

}

.navigation-list{
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.7px;
    letter-spacing: 0.28px;
}

.list-address{
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.7px;
    letter-spacing: 0.28px; 
}

.hero{
    background: #2F303A;
}

.hero-text{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 216px;
height: 50px;
flex-shrink: 0;

}

.hero-button{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8px; /* 187.5% */
    letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}