.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.headerflex{
    display: flex;
    align-items: center;
    
}

.header__logo{
    color: $accent-color;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header__span{
   color: $logo-color;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header__navigation{
    margin-right: auto;
}

.header__items{
    display: flex;
    gap: 50px;
}

.header__item{
    position: relative;
}

.header__link{
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.header__link::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -65px;
    left: 0px;
    top: 47px;
    visibility: hidden;
    border-radius: 2px;
}

.header__link:hover{
    color: $accent-color;
}

.header__link:hover::after{
    visibility: visible;
}

.current{
    color: $accent-color;
}

.current::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -65px;
    left: 0px;
    top: 47px;
    border-radius: 2px;
    visibility: visible;
}

.header__list{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__element{
display: flex;
gap: 10px;
align-items: center;
transition-property: color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__element:hover{
color: $accent-color;
fill: #2196F3;
}

.header__info{
    color: $additional-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px; 
}

.header__info:hover{
    color: $accent-color;
}

.header__svgphone{
    width: 15px;
height: 16px;
}

.header__svgenvelope{
    width: 16px;
height: 12px;
}
